:root {
    --bg-color: #8B5CF6;
}
body {
    width: 100%;
    min-height: 100%;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.header-index-page {
    position: sticky;
}

.brand-logo {
    width: 20rem;
    margin-top: 3rem;
}

main {
    margin: auto 0;
    width: 75%;
    max-width: 30rem;
    text-align: center;
}

.brand-tagline {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}