
.avatar-xsm .badge-xsm{
    position: relative;
    font-size: 0.7rem;
    bottom: -1.2rem;
    left: -0.6rem;
}

.avatar-sm .badge-sm{
    position: relative;
    font-size: 1rem;
    bottom: -2rem;
    left: -0.813rem;
}

/*--------------- Badge styling for medium size------------ */
.avatar-md .badge-md{
    position: relative;
    font-size: 1.25rem;
    bottom: -3.75rem;
    left: -1.25rem;
}

/*---------------- Badge styling for large size------------- */
.avatar-lg .badge-lg{
    position: relative;
    font-size: 1.5rem;
    bottom: -5.313rem;
    left: -1.875rem;
}

/*---------------- Counter Badge on Icons -------------------*/
.badge-count{
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    position: relative;
    top: -1.25rem;
    left: -0.875rem;
}

/*------------------ Counter Badge on Button-----------------(I will chnge this when Button component created) */

.badge-btn{
    background-color: white;
    padding: 8px;
}

/*---------------------- badge colors for showing status----------------- */
.badge-green{
    color: green;
    /* Online */  
}

.badge-red{
    color: red;
    /* Busy */
}

.badge-yellow{
    color: orange;
    /* Away */
}

.badge-grey{
    color: grey;
    /* Idle */
}