@import url(../components/navbar.css);
@import url(../components/avatar.css);
@import url(../components/badge.css);
@import url(../components/alert.css);
@import url(../components/button.css);
@import url(../components/image.css);
@import url(../components/input.css);
@import url(../components/card.css);
@import url(../components/text-utility.css);
@import url(../components/list.css);
@import url(../components/rating.css);
@import url(../components/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 18px;    */
}

:root {
    /* Color Primary and Secondary */
    --primary-color: #d4cbec;
    --secondary-color: #a687f5;


    --wgt-lighter: 200;
    --wgt-light: 300;
    --wgt-regular: 400;
    --wgt-bold-semi: 600;
    --wgt-bold: 700;
    --wgt-bold-dark: 900;
}