@import url(../components/navbar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-doc{
    display: flex;
}


/* --------------------Side Bar Tabs------------------ */

.tabs-container{
    width: 80%;
    height: 100vh;
    background-color: #8a5cf6cc;
    border-right: 1px solid black;
}

.tabs {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    padding-top: 2rem;
    position: fixed;
    height: 100vh;
    top: 1;
}

.component-feature {
    color: #fff;
    padding: 8px;
    cursor: pointer;
    list-style: none;
    font-size: 1.8rem;
}

.getting-start a:hover,
.component-feature:hover {
    color: #C8F65C;
}

.tabs-container a {
    text-decoration: none;
}

.component-title {
    padding-left: 2rem;
    color: #C8F65C;
    font-size: 2rem;
}

.getting-start a {
    padding-left: 2rem;
    text-decoration: none;
    color: #C8F65C;
    font-size: 2rem;
}
